<header class="header">
    <a href="/" class="header_logo">Admin Panel</a>

    <nav class="header_nav">
        <ul>
            <li>
                <a href="/" class="">Home</a>
            </li>
        </ul>
        <ul>
            <li>
                <a href="/about" class="">About</a>
            </li>
        </ul>
        <ul>
            <li>
                <a href="/contact" class="">Contact</a>
            </li>
        </ul>

        <div class="header_button">
            <button >
                Logout
            </button>
        </div>


    </nav>
</header>