<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="../css/about.css">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>About Us</title>
</head>
<body>

    <div class="navbar">
            
        <div class="guys">
            <h1> TheApiGuys </h1>
        </div>
    
        <div class="nav-links">
            <ul>
                <li><a href="/"> Home </a></li>
                <li><a href="/about"> About Us </a></li>
                <li><a href="/resources"> Resources </a></li>
                <li><a href="/jokes"> Jokes </a></li>
                <li><a href="/quotes"> Quotes </a></li>
            </ul>
        </div>
    
        
    
    </div>
    
    <div class="container">
    
    <div class="name archita">
        <div class="arc details">
            <div class="arc-pic images">
                <img src="img/arc-pic.jpg">
            </div>
    
            <div class="socials">
                <h1>
                    Archita Sugandh
                </h1>
    
                <div class="social-links">
                    <div class="instagram social-box">
                        <div class="icon">
                            <img src="img/instagram-icon.jpg">
                        </div>
                        <h2>
                            archita_.04
                        </h2>
                    </div>
    
                    <div class="linkedIn social-box">
                        <div class="icon">
                            <img src="img/linkedIn-icon.svg">
                        </div>
                        <h2>
                            Archita Sugandh
                        </h2>
                    </div>
    
                    <div class="twitter social-box">
                        <div class="icon">
                            <img src="img/twitter-icon.svg">
    
                        </div>
                        <h2>
                            @growuparchita
                        </h2>
                    </div>
    
                    <div class="github social-box">
                        <div class="icon">
                            <img src="img/github-icon.jpg">
                        </div>
                        <h2>
                            Archita112
                        </h2>
                    </div>
                </div>
            </div>
        </div>
    </div>
    
    
    
    <div class="name sagar">
        <div class="sag details">
            <div class="sag-pic images">
                <img src="img/sagar-pic.jpg">
            </div>
    
            <div class="socials">
                <h1>
                    Sagar Singh
                </h1>
    
                <div class="social-links">
                    <div class="instagram social-box">
                        <div class="icon">
                            <img src="img/instagram-icon.jpg">
                        </div>
                        <h2>
                            
                        </h2>
                    </div> 
    
                    <div class="linkedIn social-box">
                        <div class="icon">
                            <img src="img/linkedIn-icon.svg">
                        </div>
                        <h2>
                            
                        </h2>
                    </div> 
    
                    <div class="twitter social-box">
                        <div class="icon">
                            <img src="img/twitter-icon.svg">
    
                        </div>
                        <h2>
                            @_Sagar_Singh
                        </h2>
                    </div>
    
                    <div class="github social-box">
                        <div class="icon">
                            <img src="img/github-icon.jpg">
                        </div>
                        <h2>
                            SagarSingh2003
                        </h2>
                    </div>
                </div>
            </div>
        </div>
    </div>
    
    
    
    
    <div class="name anshu">
        <div class="anshu details">
            <div class="anshu-pic images">
                <img src="img/anshu-pic.jpg">
            </div>
    
            <div class="socials">
                <h1>
                    Anslone Kritisch
                </h1>
    
                <div class="social-links">
                    <div class="../img/instagram social-box">
                        <div class="icon">
                            <img src="img/instagram-icon.jpg">
                        </div>
                        <h2>
                            
                        </h2>
                    </div>
    
                    <div class="linkedIn social-box">
                        <div class="icon">
                            <img src="img/linkedIn-icon.svg">
                        </div>
                        <h2>
                            
                        </h2>
                    </div>
    
                    <div class="twitter social-box">
                        <div class="icon">
                            <img src="img/twitter-icon.svg">
    
                        </div>
                        <h2>
                            
                        </h2>
                    </div>
    
                    <div class="github social-box">
                        <div class="icon">
                            <img src="img/github-icon.jpg">
                        </div>
                        <h2>
                            Anslone Kritisch
                        </h2>
                    </div>
                </div>
            </div>
        </div>
    </div>
    
    
    
    
    <div class="name ansh">
        <div class="ansh details">
            <div class="ansh-pic images">
                <img src="img/ansh-pic.jpg">
            </div>
    
            <div class="socials">
                <h1>
                    Ansh Thakre
                </h1>
    
                <div class="social-links">
                    <div class="instagram social-box">
                        <div class="icon">
                            <img src="img/instagram-icon.jpg">
                        </div>
                        <h2>
                            ansh_oscuro
                        </h2>
                    </div>
    
                    <div class="linkedIn social-box">
                        <div class="icon">
                            <img src="../img/linkedIn-icon.svg">
                        </div>
                        <h2>
                            ansh-thakre-350606232
                        </h2>
                    </div>
    
                    <div class="twitter social-box">
                        <div class="icon">
                            <img src="../img/twitter-icon.svg">
    
                        </div>
                        <h2>
                            AnshThakre17
                        </h2>
                    </div>
    
                    <div class="github social-box">
                        <div class="icon">
                            <img src="../img/github-icon.jpg">
                        </div>
                        <h2>
                            Oscuro-05
                        </h2>
                    </div>
                </div>
            </div>
        </div>
    </div>
    
    
    
    </div>
    
</body>
</html>
