<!DOCTYPE html>
<html>
  <head>
    <link rel="stylesheet" href="../css/globals.css" />
    <link rel="stylesheet" href="../css/disorder.css" />
  </head>
  <body>

    <div class="navbar">
            
      <div class="guys">
          <h1> TheApiGuys </h1>
      </div>

      <div class="nav-links">
          <ul>
            <li><a href="/"> Home </a></li>
            <li><a href="/about"> About Us </a></li>
            <li><a href="/resources"> Resources </a></li>
            <li><a href="/jokes"> Jokes </a></li>
            <li><a href="/quotes"> Quotes </a></li>
          </ul>
      </div>

      <div class="search">
          
          <button> <img src="img1/search-icon.jpg"> Search</button>
      </div>

</div>
    <div class="resources-disorders">
      <div class="div">

        <div class="text-wrapper-8">Disorders:</div>
        <div class="group-2">
          <p class="p">Ways for improvisation of mental health</p>
          <img class="iconly-bulk-arrow" src="img1/right_icon.svg ">
        </div>
        <div class="overlap-wrapper">
          <div class="overlap">
            <div class="div-wrapper">
              <div class="overlap-group-2"><div class="text-wrapper-9" > <a href="https://www.nimh.nih.gov/health/topics/anxiety-disorders" style="color: black; text-decoration: none;">Anxiety disorder</a></div></div>
            </div>
            <div class="group-3">
              <div class="overlap-2"><div class="text-wrapper-10"><a href="https://www.nimh.nih.gov/health/topics/bipolar-disorder" style="color: black; text-decoration: none;">Bipolar disorder</a></div></div>
            </div>
            <div class="group-4">
              <div class="overlap-3"><div class="text-wrapper-11"><a href="https://www.nimh.nih.gov/health/topics/disruptive-mood-dysregulation-disorder-dmdd/disruptive-mood-dysregulation-disorder" style="color: black; text-decoration: none;">Disruptive Mood Dysregulation Disorder</a></div></div>
            </div>
            <div class="group-5">
              <div class="overlap-4"><div class="text-wrapper-12"><a href="https://www.nimh.nih.gov/health/topics/borderline-personality-disorder" style="color: black; text-decoration: none;">Personality disorder</a></div></div>
            </div>
            <div class="group-6">
              <div class="overlap-5"><div class="text-wrapper-13"><a href="https://www.nimh.nih.gov/health/topics/substance-use-and-mental-health" style="color: white; text-decoration: none;">Substance Use and Co-Ocuuring Mental Disorders: </a></div></div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </body>
</html>
