    <!DOCTYPE html>
    <html>
    <head>
        <link rel="stylesheet" href="../css/globals.css" />
        <link rel="stylesheet" href="../css/helplines.css" />
    </head>
    <body>

        <div class="navbar">
            
            <div class="guys">
                <h1> TheApiGuys </h1>
            </div>

            <div class="nav-links">
                <ul>
                    <li><a href="/"> Home </a></li>
                    <li><a href="/about"> About Us </a></li>
                    <li><a href="/resources"> Resources </a></li>
                    <li><a href="/jokes"> Jokes </a></li>
                    <li><a href="/quotes"> Quotes </a></li>
                </ul>
            </div>

        

    </div>
        <div class="resources-helplines">
        <div class="div">
            <div class="group">

            <div class="text-wrapper-8">Helplines:</div>
            <div class="group-3">
                <p class="p">Ways for improvisation of mental health</p>
                <img class="iconly-bulk-arrow" src="../img/right_icon.svg" />
            </div>
            </div>
            <div class="group-wrapper">
            <div class="group-4">

                <div class="group-5">
                <p class="text-wrapper-9">1860 2662 345 / 1800 2333 330</p>
                <img class="iconly-bold-calling" src="../img/telephone_icon.png" />
                <div class="text-wrapper-10">Vandrevala Foundation Helpline</div>
                </div>
                <div class="group-6">
                <p class="text-wrapper-9">+91 40 6620 2000 / +91 40 6620 2001</p>
                <img class="iconly-bold-calling" src="../img/telephone_icon.png" />
                <div class="text-wrapper-10">Roshni Helpline</div>
                </div>
                <div class="group-7">
                <p class="text-wrapper-9">011-65978181 / 011-65978282 / 011-65978383</p>
                <img class="iconly-bold-calling" src="../img/telephone_icon.png" />
                <div class="text-wrapper-10">Snehi Helpline</div>
                </div>
                <div class="group-8">
                <p class="text-wrapper-9">022-2552 1111 / 022-2552 2222</p>
                <img class="iconly-bold-calling" src="../img/telephone_icon.png" />
                <p class="text-wrapper-10">iCall - Tata Institute of Social Sciences (TISS)</p>
                </div>
                <div class="group-9">
                <p class="text-wrapper-9">011-2338 9090 / 011-2337 3333</p>
                <img class="iconly-bold-calling" src="../img/telephone_icon.png" />
                <div class="text-wrapper-10">Sumaitri - Delhi Helpline</div>
                </div>
                <div class="group-10">
                <p class="text-wrapper-9">079-2630 5544 / 079-2630 0222</p>
                <img class="iconly-bold-calling" src="../img/telephone_icon.png" />
                <p class="text-wrapper-10">Saath - Suicide Prevention Helpline (Ahmedabad)</p>
                </div>
            </div>
            </div>
        </div>
        </div>
    </body>
    </html>
