<!DOCTYPE html>
<html>
  <head>
    <link rel="stylesheet" href="../css/globals.css" />
    <link rel="stylesheet" href="../css/jokes.css" />
  </head>
  <body>
    <div class="navbar">
            
      <div class="guys">
          <h1> TheApiGuys </h1>
      </div>

      <div class="nav-links">
          <ul>
            <li><a href="/"> Home </a></li>
            <li><a href="/about"> About Us </a></li>
            <li><a href="/resources"> Resources </a></li>
            <li><a href="/jokes"> Jokes </a></li>
            <li><a href="/quotes"> Quotes </a></li>
          </ul>
      </div>

</div>
    <div class="jokes">
      <div class="div">

        <div class="group-2">
          <div class="div-wrapper">

            <div class="overlap-group"><div class="text-wrapper-8">Jokes</div></div>

          </div>
                
            <div class="div-wrapper">

              <div class="overlap-group"><div class="text-wrapper-8">jokes</div></div>

            </div>

            
            <div class="overlap-wrapper">

              <form action="/jokes" method="post" >
                <div class="overlap"> <input type="submit" value="generate a new joke" class="text-wrapper-9" style="background-color: azure;border: none; padding:10px ; padding-right: 25px ; cursor: pointer;"> </div>
              </form>

            </div>
            <p class="p"> Would you like to listen to jokes???</p>

            <% if (locals.jok) { %>

              <div class="rectangle"> <%= jok %></div>
            

              <% } else{%>

                <div class="rectangle"> lets listen to a joke </div>
              
    
                <% }%>
                  
            
          </div>
      </div>    
      </div>
    </div>
  </body>
</html>
