<!DOCTYPE html>
<html>
  <head>
    <link rel="stylesheet" href="../css/globals.css" />
    <link rel="stylesheet" href="../css/organisation.css" />
  </head>
  <body>

    <div class="navbar">
            
      <div class="guys">
          <h1> TheApiGuys </h1>
      </div>

      <div class="nav-links">
          <ul>
            <li><a href="/"> Home </a></li>
            <li><a href="/about"> About Us </a></li>
            <li><a href="/resources"> Resources </a></li>
            <li><a href="/jokes"> Jokes </a></li>
            <li><a href="/quotes"> Quotes </a></li>
          </ul>
      </div>

      <div class="search">
          
          <button> <img src="../img/search-icon.jpg"> Search</button>
      </div>

</div>
    <div class="resources">
      <div class="div">
        <div class="group">
          <div class="overlap-group">
            <p class="national-alliance-on">
              National Alliance on Mental Illness (NAMI)<br />NAMI is a U.S.-based organization that provides
              information, resources, and support for individuals and families affected by mental illness.
            </p>
            <div class="rectangle"></div>
          </div>
        </div>
        <div class="overlap-wrapper">
          <div class="overlap">
            <p class="psychcentral">
              PsychCentral<br />PsychCentral provides articles, information, quizzes, and a variety of resources related
              to mental health topics.
            </p>
            <div class="rectangle-2"></div>
          </div>
        </div>
        <div class="group-wrapper">
          <div class="overlap-group-wrapper">
            <div class="mind-mind-is-a-UK-wrapper">
              <p class="mind-mind-is-a-UK">
                Mind<br />Mind is a UK-based mental health charity that offers information, support, and resources for
                individuals dealing with mental health challenges.
              </p>
            </div>
          </div>
        </div>
        <div class="div-wrapper">
          <div class="overlap-2">
            <p class="mental-health">
              Mental Health America(Mha)<br />MHA offers screening tools, educational materials, and resources related
              to mental health conditions.
            </p>
            <div class="rectangle-3"></div>
          </div>
        </div>
        <div class="group-2">
          <div class="text-wrapper-8">Organisations: </a></div>
          <div class="group-5">
            <p class="p">Ways for improvisation of mental health</p>
            <img class="iconly-bulk-arrow" src="../img/right_icon.svg" />
          </div>
        </div>
      </div>
    </div>
  </body>
</html>
