<!DOCTYPE html>
<html>
  <head>
    <link rel="stylesheet" href="../css/globals.css" />
    <link rel="stylesheet" href="../css/resources.css" />
  </head>
  <body>
    <div class="navbar">
        
      <div class="guys">
          <h1> TheApiGuys </h1>
      </div>

      <div class="nav-links">
          <ul>
            <li><a href="/"> Home </a></li>
            <li><a href="/about"> About Us </a></li>
            <li><a href="/resources"> Resources </a></li>
            <li><a href="/jokes"> Jokes </a></li>
            <li><a href="/quotes"> Quotes </a></li>
          </ul>
      </div>


    </div>
    <div class="resources">
      <div class="div">
        <div class="text-wrapper-8">Books:</div>
        <p class="p">Ways for improvisation of mental health</p>
        <img class="iconly-bulk-arrow" src="../img/right_icon.svg" />
        <div class="overlap-wrapper">
          <div class="overlap">
            <div class="rectangle"></div>
            <img class="img" src="../img/unlimited_power.jpg" />
            <div class="unlimited-power-by">
              Unlimited Power by
              Anthony&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Robbins
            </div>
          </div>
        </div>
        <div class="div-wrapper">
          <div class="overlap-2">
            <img class="rectangle-2" src="../img/beast_beautiful.jpg" />
            <p class="first-we-make-the">
              First, We Make the Beast Beautiful: A New Journey Through Anxiety&nbsp;&nbsp;by Sarah Wilson
            </p>
          </div>
        </div>
        <div class="group-2">
          <div class="overlap-2">
            <img class="rectangle-3" src="../img/anxiety_phobia.jpg" />
            <div class="text-wrapper-9">The Anxiety Phobia Workbook</div>
          </div>
        </div>
        <div class="group-3">
          <div class="overlap-3">
            <div class="rectangle"></div>
            <img class="rectangle-2" src="../img/feeling_good.jpg" />
            <p class="text-wrapper-10">Feeling Good : The New Mood Therapy</p>
          </div>
        </div>
        <div class="group-4">
          <div class="overlap-2">
            <img class="rectangle-4" src="../img/through_depression.jpg" />
            <p class="text-wrapper-11">The Mindful Way through Depression</p>
          </div>
        </div>
        <div class="group-5">
          <div class="overlap-2">
            <img class="rectangle-5" src="../img/body_keeps_the_score.jpg" />
            <p class="the-body-keeps-the">
              The Body Keeps the Score: Brain, Mind, and Body in the Healing of Trauma&#34; by Bessel van der Kolk
            </p>
          </div>
        </div>
        <p class="text-wrapper-12">Get to know more about the ways to improve your mental health</p>
        <div class="overlap-4">
          <div class="group-6">
            <div class="overlap-5">
              <img class="rectangle-6" src="../img/photo_2023-08-26_22-42-45.jpg" />
              <img class="rectangle-7" src="../img/photo_2023-08-26_22-42-35.jpg" />
            </div>
          </div>
          <img class="rectangle-8" src="" />
        </div>
        <div class="group-7">
          <div class="overlap-6">
            <div class="text-wrapper-13" ><a href="/organisation">organisations</a></div>
            <img class="iconly-bold-arrow" src="../img/left_arrow.svg" />
          </div>
        </div>
        <div class="group-8">
          <div class="overlap-6">
            <div class="text-wrapper-14"><a href="helplines">helplines</a></div>
            <img class="iconly-bold-arrow" src="../img/left_arrow.svg" />
          </div>
        </div>
        <div class="group-9">
          <div class="overlap-6">
            <div class="text-wrapper-15"><a href="disorder">disorders</a></div>
            <img class="iconly-bold-arrow-2" src="../img/left_arrow.svg" />
          </div>
        </div>
      </div>
    </div>
  </body>
</html>
