html, body {
    margin: 0;
    background-color: #FAF5EE;
}

.navbar {
    color: #1c1c1c;
    width: 80%;
    height: 20%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-left: 10%;
}

.guys {
    color: #1c1c1c;
    font-size: 20px;
}

.nav-links {
    margin-top: 1.5%;
    justify-content: left;
}

.nav-links ul {
    list-style: none;
}

.nav-links ul li {
    display: inline-block;
    margin: 8px 40px;
}

.nav-links ul li a {
    text-decoration: none;
    color: #1c1c1c;
    font-size:  25px;
}

.search {
    margin-top: 1.5%;
    color: #1c1c1c;
    font-size: 40px;
    width: 10%;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.search img {
    height: 70%;
    width: 40%;
    right: 30%;
}

.search button {
    background-color: #FAF5EE;
    border-radius: 30px;
    padding: 10px 20px;
    width: 100%;
}

.images {
    position: absolute;
    height: 100%;
    width: 32.8%;
    border: 3px ;
    border-radius: 15px;
    overflow: hidden;
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    margin: 0;
}

.images:hover {
    transform: scale(1.05, 1.05);
    box-shadow: 5px 5px 10px black;
    transition: 0.5s;
}

.images img {
    width: 100%;
    height: 100%;
}

.container {
    position: absolute;
    height: 120%;
    width: 100%;
}

.name {
    border-radius: 40px;
    overflow: hidden;
    position: absolute;
    height: auto;
    width: 50%;
    background: #d9d9d9;
    top: 10%;
    border-radius: 50px;
}

.archita {
    top: 10%;
    left: 10%;
}

.sagar {
    top: 60%;
    right: 10%;
}

.anshu {
    top: 105%;
    left: 10%;
}

.ansh {
    top: 147%;
    right: 10%;
}

.details {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin: 0;
}

.socials {
    margin-left: 20%;
    
}

.social-box {
    color: #1c1c1c;
    display: flex;
    flex-direction: row;
    height: 100%;
    width: 70%;
    margin: auto;
}

.socials h1 {
    display: flex;
    justify-content: center;
}

.social-links {
    display: flex;
    flex-direction: column;
}

.social-box img {
    width: 100%;
    height: 100%;
}

.social-box h2 {
    margin-left: 10%;
}

.icon img {
    height: 100%;
    width: 100%;
}

.icon {
    margin-top: 2%;
    height: 20%;
    width: 10%;
    margin-left: 20%;
}




/* Media query for screens smaller than 768px (typical mobile screens) */
@media only screen and (max-width: 768px) {
    .navbar {
        width: 100%;
        display: flex;
        flex-direction: column;
        margin-left: 0;
        justify-content: center;
    }

    .nav-links {
        margin-top: 10px;
        margin-right: 0;
        
    }

    .nav-links ul {
        display: flex;
        flex-direction: column;
        justify-content: center;
        padding: 0;
    }

    .nav-links ul li {
        display: block;
        margin: 8px auto;
    }

    .guys {
        font-size: 16px;
        display: flex;
        justify-content: center;
    }

    .nav-links ul li a,
    .search {
        font-size: 16px;
    }

    .search {
        display: flex;
        justify-content: center;
    }

    .archita {
        top: 10%;
        width: 80%;
        margin: auto;
    }
    
    .sagar {
        top: 60%;
        width: 80%;
        margin: auto;
    }
    
    .anshu {
        top: 105%;
        width: 80%;
        margin: auto;
    }
    
    .ansh {
        top: 147%;
        width: 80%;
        margin: auto;
    }
}


