.quotes {
    background-color: #faf5ee;
    display: flex;
    flex-direction: row;
    justify-content: center;
    width: 100%;
  }

  .navbar {
    color: #1c1c1c;
    width: 80%;
    height: 20%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-left: 10%;
}

.guys {
    color: #1c1c1c;
    font-size: 20px;
}

.nav-links {
    margin-top: 1.5%;
    justify-content: left;
}

.nav-links ul {
    list-style: none;
}

.nav-links ul li {
    display: inline-block;
    margin: 8px 40px;
}

.nav-links ul li a {
    text-decoration: none;
    color: #1c1c1c;
    font-size:  25px;
}

.search {
    margin-top: 1.5%;
    color: #1c1c1c;
    font-size: 40px;
    width: 10%;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.search img {
    height: 70%;
    width: 40%;
    right: 30%;
}

.search button {
    background-color: #FAF5EE;
    border-radius: 30px;
    padding: 10px 20px;
    width: 100%;
}
  
  .quotes .div {
    background-color: #faf5ee;
    width: 1440px;
    height: 1024px;
    position: relative;
  }
  
  .quotes .group {
    position: absolute;
    width: 1362px;
    height: 75px;
    top: 25px;
    left: 40px;
  }
  
  .quotes .navbar {
    position: absolute;
    width: 657px;
    height: 48px;
    top: 13px;
    left: 393px;
  }
  
  .quotes .text-wrapper {
    left: 0;
    position: absolute;
    top: 0;
    font-family: "Poppins-Medium", Helvetica;
    font-weight: 500;
    color: #000000;
    font-size: 32px;
    letter-spacing: 0;
    line-height: normal;
  }
  
  .quotes .text-wrapper-2 {
    left: 115px;
    position: absolute;
    top: 0;
    font-family: "Poppins-Medium", Helvetica;
    font-weight: 500;
    color: #000000;
    font-size: 32px;
    letter-spacing: 0;
    line-height: normal;
  }
  
  .quotes .text-wrapper-3 {
    left: 232px;
    position: absolute;
    top: 0;
    font-family: "Poppins-Medium", Helvetica;
    font-weight: 500;
    color: #000000;
    font-size: 32px;
    letter-spacing: 0;
    line-height: normal;
  }
  
  .quotes .text-wrapper-4 {
    left: 418px;
    position: absolute;
    top: 0;
    font-family: "Poppins-Medium", Helvetica;
    font-weight: 500;
    color: #000000;
    font-size: 32px;
    letter-spacing: 0;
    line-height: normal;
  }
  
  .quotes .text-wrapper-5 {
    left: 531px;
    position: absolute;
    top: 0;
    font-family: "Poppins-Medium", Helvetica;
    font-weight: 500;
    color: #000000;
    font-size: 32px;
    letter-spacing: 0;
    line-height: normal;
  }
  
  .quotes .text-wrapper-6 {
    position: absolute;
    top: 0;
    left: 0;
    font-family: "Poppins-SemiBold", Helvetica;
    font-weight: 600;
    color: #1c1c1c;
    font-size: 50px;
    letter-spacing: 0;
    line-height: normal;
  }
  
  .quotes .overlap-group-wrapper {
    position: absolute;
    width: 223px;
    height: 73px;
    top: 0;
    left: 1139px;
  }
  
  .quotes .overlap-group {
    position: relative;
    width: 221px;
    height: 73px;
    background-color: #ffffff;
    border-radius: 90px;
    border: 3px solid;
    border-color: #000000;
  }
  
  .quotes .iconly-bold-search {
    position: absolute;
    width: 48px;
    height: 45px;
    top: 11px;
    left: 12px;
  }
  
  .quotes .text-wrapper-7 {
    position: absolute;
    width: 127px;
    top: 10px;
    left: 69px;
    font-family: "Poppins-Medium", Helvetica;
    font-weight: 500;
    color: #000000;
    font-size: 32px;
    letter-spacing: 0;
    line-height: normal;
  }
  
  .quotes .group-2 {
    position: absolute;
    width: 1172px;
    height: 517px;
    top: 231px;
    left: 164px;
  }
  
  .quotes .text-wrapper-8 {
    position: absolute;
    top: 0;
    left: 365px;
    font-family: "Poppins-Medium", Helvetica;
    font-weight: 500;
    color: #000000;
    font-size: 48px;
    letter-spacing: 0;
    line-height: normal;
  }
  
  .quotes .rectangle {
    position: absolute;
    width: 1170px;
    height: 193px;
    top: 162px;
    left: 0;
    background-color: #ffffff;
    border: 3px solid;
    border-color: #000000;
  }
  
  .quotes .div-wrapper {
    position: absolute;
    width: 460px;
    height: 73px;
    top: 444px;
    left: 356px;
  }
  
  .quotes .overlap-group-2 {
    position: relative;
    width: 458px;
    height: 73px;
    background-color: #ffffff;
    border-radius: 90px;
    border: 3px solid;
    border-color: #000000;
  }
  
  .quotes .text-wrapper-9 {
    position: absolute;
    width: 374px;
    top: 12px;
    left: 53px;
    font-family: "Poppins-Medium", Helvetica;
    font-weight: 500;
    color: #000000;
    font-size: 32px;
    letter-spacing: 0;
    line-height: normal;
  }
  
