.resources {
    background-color: #faf5ee;
    display: flex;
    flex-direction: row;
    justify-content: center;
    width: 100%;
  }

  .navbar {
    color: #1c1c1c;
    width: 80%;
    height: 20%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-left: 10%;
}

.guys {
    color: #1c1c1c;
    font-size: 20px;
}

.nav-links {
    margin-top: 1.5%;
    justify-content: left;
}

.nav-links ul {
    list-style: none;
}

.nav-links ul li {
    display: inline-block;
    margin: 8px 40px;
}

.nav-links ul li a {
    text-decoration: none;
    color: #1c1c1c;
    font-size:  25px;
}

.search {
    margin-top: 1.5%;
    color: #1c1c1c;
    font-size: 40px;
    width: 10%;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.search img {
    height: 70%;
    width: 40%;
    right: 30%;
}

.search button {
    background-color: #FAF5EE;
    border-radius: 30px;
    padding: 10px 20px;
    width: 100%;
}
  
  .resources .div {
    background-color: #faf5ee;
    width: 1440px;
    height: 3508px;
    position: relative;
  }
  
  .resources .group {
    position: absolute;
    width: 1362px;
    height: 75px;
    top: 25px;
    left: 40px;
  }
  
  .resources .navbar {
    position: absolute;
    width: 657px;
    height: 48px;
    top: 13px;
    left: 393px;
  }
  
  .resources .text-wrapper {
    left: 0;
    position: absolute;
    top: 0;
    font-family: "Poppins-Medium", Helvetica;
    font-weight: 500;
    color: #000000;
    font-size: 32px;
    letter-spacing: 0;
    line-height: normal;
  }
  
  .resources .text-wrapper-2 {
    left: 115px;
    position: absolute;
    top: 0;
    font-family: "Poppins-Medium", Helvetica;
    font-weight: 500;
    color: #000000;
    font-size: 32px;
    letter-spacing: 0;
    line-height: normal;
  }
  
  .resources .text-wrapper-3 {
    left: 232px;
    position: absolute;
    top: 0;
    font-family: "Poppins-Medium", Helvetica;
    font-weight: 500;
    color: #000000;
    font-size: 32px;
    letter-spacing: 0;
    line-height: normal;
  }
  
  .resources .text-wrapper-4 {
    left: 418px;
    position: absolute;
    top: 0;
    font-family: "Poppins-Medium", Helvetica;
    font-weight: 500;
    color: #000000;
    font-size: 32px;
    letter-spacing: 0;
    line-height: normal;
  }
  
  .resources .text-wrapper-5 {
    left: 531px;
    position: absolute;
    top: 0;
    font-family: "Poppins-Medium", Helvetica;
    font-weight: 500;
    color: #000000;
    font-size: 32px;
    letter-spacing: 0;
    line-height: normal;
  }
  
  .resources .text-wrapper-6 {
    position: absolute;
    top: 0;
    left: 0;
    font-family: "Poppins-SemiBold", Helvetica;
    font-weight: 600;
    color: #1c1c1c;
    font-size: 50px;
    letter-spacing: 0;
    line-height: normal;
  }
  
  .resources .overlap-group-wrapper {
    position: absolute;
    width: 223px;
    height: 73px;
    top: 0;
    left: 1139px;
  }
  
  .resources .overlap-group {
    width: 221px;
    height: 73px;
    position: relative;
    background-color: #ffffff;
    border-radius: 90px;
    border: 3px solid;
    border-color: #000000;
  }
  
  .resources .iconly-bold-search {
    position: absolute;
    width: 48px;
    height: 45px;
    top: 11px;
    left: 12px;
  }
  
  .resources .text-wrapper-7 {
    position: absolute;
    width: 127px;
    top: 10px;
    left: 69px;
    font-family: "Poppins-Medium", Helvetica;
    font-weight: 500;
    color: #000000;
    font-size: 32px;
    letter-spacing: 0;
    line-height: normal;
  }
  
  .resources .text-wrapper-8 {
    position: absolute;
    width: 187px;
    top: 295px;
    left: 134px;
    font-family: "Poppins-Light", Helvetica;
    font-weight: 300;
    color: #000000;
    font-size: 48px;
    letter-spacing: 0;
    line-height: normal;
  }
  
  .resources .p {
    position: absolute;
    top: 110px;
    left: 320px;
    font-family: "Poppins-Medium", Helvetica;
    font-weight: 500;
    color: #000000;
    font-size: 48px;
    letter-spacing: 0;
    line-height: normal;
  }
  
  .resources .iconly-bulk-arrow {
    position: absolute;
    width: 48px;
    height: 46px;
    top: 165px;
    left: 1203px;
  }
  
  .resources .overlap-wrapper {
    position: absolute;
    width: 493px;
    height: 746px;
    top: 406px;
    left: 762px;
  }
  
  .resources .overlap {
    position: relative;
    width: 491px;
    height: 746px;
  }
  
  .resources .rectangle {
    position: absolute;
    width: 489px;
    height: 746px;
    top: 0;
    left: 0;
    background-color: #ffffff;
    border-radius: 43px;
    box-shadow: 0px 4px 4px #00000040;
  }
  
  .resources .img {
    width: 374px;
    height: 555px;
    left: 58px;
    position: absolute;
    top: 43px;
    object-fit: cover;
  }
  
  .resources .unlimited-power-by {
    position: absolute;
    width: 433px;
    top: 615px;
    left: 58px;
    font-family: "Poppins-Medium", Helvetica;
    font-weight: 500;
    color: #000000;
    font-size: 27px;
    letter-spacing: 0;
    line-height: normal;
  }
  
  .resources .div-wrapper {
    position: absolute;
    width: 491px;
    height: 746px;
    top: 1217px;
    left: 173px;
  }
  
  .resources .overlap-2 {
    position: relative;
    width: 489px;
    height: 746px;
    background-color: #ffffff;
    border-radius: 43px;
    box-shadow: 0px 4px 4px #00000040;
  }
  
  .resources .rectangle-2 {
    position: absolute;
    width: 372px;
    height: 541px;
    top: 43px;
    left: 55px;
    object-fit: cover;
  }
  
  .resources .first-we-make-the {
    position: absolute;
    width: 469px;
    top: 596px;
    left: 20px;
    font-family: "Poppins-Medium", Helvetica;
    font-weight: 500;
    color: #000000;
    font-size: 27px;
    letter-spacing: 0;
    line-height: normal;
  }
  
  .resources .group-2 {
    position: absolute;
    width: 491px;
    height: 746px;
    top: 2034px;
    left: 173px;
  }
  
  .resources .rectangle-3 {
    width: 408px;
    height: 541px;
    left: 41px;
    position: absolute;
    top: 43px;
    object-fit: cover;
  }
  
  .resources .text-wrapper-9 {
    position: absolute;
    width: 469px;
    top: 613px;
    left: 20px;
    font-family: "Poppins-Medium", Helvetica;
    font-weight: 500;
    color: #000000;
    font-size: 30px;
    letter-spacing: 0;
    line-height: normal;
  }
  
  .resources .group-3 {
    position: absolute;
    width: 526px;
    height: 746px;
    top: 2034px;
    left: 784px;
  }
  
  .resources .overlap-3 {
    position: relative;
    width: 524px;
    height: 746px;
  }
  
  .resources .text-wrapper-10 {
    position: absolute;
    width: 469px;
    top: 613px;
    left: 55px;
    font-family: "Poppins-Medium", Helvetica;
    font-weight: 500;
    color: #000000;
    font-size: 27px;
    letter-spacing: 0;
    line-height: normal;
  }
  
  .resources .group-4 {
    position: absolute;
    width: 491px;
    height: 746px;
    top: 1217px;
    left: 784px;
  }
  
  .resources .rectangle-4 {
    width: 346px;
    height: 541px;
    left: 72px;
    position: absolute;
    top: 43px;
    object-fit: cover;
  }
  
  .resources .text-wrapper-11 {
    position: absolute;
    width: 449px;
    top: 606px;
    left: 40px;
    font-family: "Poppins-Medium", Helvetica;
    font-weight: 500;
    color: #000000;
    font-size: 27px;
    letter-spacing: 0;
    line-height: normal;
  }
  
  .resources .group-5 {
    position: absolute;
    width: 491px;
    height: 746px;
    top: 406px;
    left: 173px;
  }
  
  .resources .rectangle-5 {
    position: absolute;
    width: 380px;
    height: 537px;
    top: 43px;
    left: 55px;
    object-fit: cover;
  }
  
  .resources .the-body-keeps-the {
    position: absolute;
    width: 449px;
    top: 598px;
    left: 30px;
    font-family: "Poppins-Medium", Helvetica;
    font-weight: 500;
    color: #000000;
    font-size: 27px;
    letter-spacing: 0;
    line-height: normal;
  }
  
  .resources .text-wrapper-12 {
    position: absolute;
    top: 2894px;
    left: 199px;
    font-family: "Poppins-Medium", Helvetica;
    font-weight: 500;
    color: #000000;
    font-size: 32px;
    letter-spacing: 0;
    line-height: normal;
  }
  
  .resources .overlap-4 {
    position: absolute;
    width: 1048px;
    height: 417px;
    top: 2996px;
    left: 376px;
  }
  
  .resources .group-6 {
    position: absolute;
    width: 1048px;
    height: 383px;
    top: 17px;
    left: 0;
  }
  
  .resources .overlap-5 {
    position: relative;
    height: 383px;
  }
  
  .resources .rectangle-6 {
    position: absolute;
    width: 379px;
    height: 383px;
    top: 0;
    left: 0;
    object-fit: cover;
    border-radius: 200px;
    opacity: 0.5;
  }
  
  .resources .rectangle-7 {
    position: absolute;
    width: 791px;
    height: 382px;
    top: 0;
    left: 257px;
    object-fit: cover;
    border-radius: 200px;
    opacity: 0.8;
  }
  
  .resources .rectangle-8 {
    position: absolute;
    width: 1048px;
    height: 417px;
    top: 0;
    left: 0;
    mix-blend-mode: soft-light;
    object-fit: cover;
  }
  
  .resources .group-7 {
    position: absolute;
    width: 250px;
    height: 57px;
    top: 3175px;
    left: 90px;
  }
  
  .resources .overlap-6 {
    width: 248px;
    height: 57px;
    position: relative;
    background-color: #ffffff;
    border-radius: 90px;
    border: 3px solid;
    border-color: #000000;
  }
  
  .resources .text-wrapper-13 {
    position: absolute;
    top: 10px;
    left: 53px;
    font-family: "Poppins-Medium", Helvetica;
    font-weight: 500;
    color: #000000;
    font-size: 32px;
    letter-spacing: 0;
    line-height: normal;
  }
  
  .resources .iconly-bold-arrow {
    position: absolute;
    width: 30px;
    height: 30px;
    top: 13px;
    left: 23px;
  }
  
  .resources .group-8 {
    position: absolute;
    width: 250px;
    height: 57px;
    top: 3311px;
    left: 90px;
  }
  
  .resources .text-wrapper-14 {
    position: absolute;
    top: 10px;
    left: 67px;
    font-family: "Poppins-Medium", Helvetica;
    font-weight: 500;
    color: #000000;
    font-size: 32px;
    letter-spacing: 0;
    line-height: normal;
  }
  
  .resources .group-9 {
    position: absolute;
    width: 250px;
    height: 57px;
    top: 3039px;
    left: 90px;
  }
  
  .resources .text-wrapper-15 {
    position: absolute;
    top: 10px;
    left: 61px;
    font-family: "Poppins-Medium", Helvetica;
    font-weight: 500;
    color: #000000;
    font-size: 32px;
    letter-spacing: 0;
    line-height: normal;
  }
  
  .resources .iconly-bold-arrow-2 {
    position: absolute;
    width: 30px;
    height: 30px;
    top: 14px;
    left: 23px;
  }
  
